<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>

    <title>Caprice é linda</title>
</head>
<body>
    <div class="ui container"> <!-- o conteiner é uma caixa onde ficam as divs de colunas-->
        <!-- grid: O somatório de de wide tem que totalizar 16 -->
        <div class="ui grid"> 
          
            <div class="ui stackable three wide column">
                <p>Menu com colunas</p>
            </div>
            
            <div class="ui stackable ten wide column">
                <p>2</p> 
            </div>
            <div class="ui stackable three wide column">
            coluna 3
            </div>
        </div>
    </div>
</body>
</html>